*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Manrope',sans-serif;
    background:#0b0f16;
    color:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

h1{
    font-size:56px;
    margin-bottom:20px;
    color:#37ff8b;
}

p{
    font-size:20px;
    opacity:.8;
}